<div class="container">
	<div class="row">
		<div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Продукт</th>
            <th>Адрес</th>
            <th>Поща</th>
            <th>Дата</th>
            <th>Цена</th>
            <th>Статут</th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order, items| %>
          <tr>
            <td>1</td>
            <td>
              <ol>
              <% items.each do |item| %>
                <li><p> <%= item.product.title %> </p></li>
              <% end %>
              </ol>
            </td>
            <td><%= order.delivery_address %></td>
            <td><%= @user.email      %></td>
            <td><%= order.created_at %></td>
            <td><%= order.price      %></td>
            <% if order.is_completed %>
                <td><span class="label label-primary">Завършена</span></td>
            <% else %>
                <td><span class="label label-info">Обработва се</span></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
	</div>
</div>