<center>
	<div class="container">
		<div class="row">
			<div class="col-sm-6" style="background-color:#f2f2f2; height: 250px; border: 1px solid black">
				<a href="/shop/<%= @categories[0].id %>/1">
					<img src="<%= @categories[0].image_url %>" />
					<p class="cat"> <%= @categories[0].name %> </p>
				</a>
			</div>
			<div class="col-sm-6" style="background-color:#f2f2f2; height: 250px; border: 1px solid black">
				<a href="/shop/<%= @categories[1].id %>/1">
					<img src="<%= @categories[1].image_url %>" />
					<p class="cat"> <%= @categories[1].name %> </p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" style="background-color:#f2f2f2; height: 250px; border: 1px solid black">
				<a href="/shop/<%= @categories[2].id %>/1">
					<img src="<%= @categories[2].image_url %>" />
					<p class="cat"> <%= @categories[2].name %> </p>
				</a>
			</div>
			<div class="col-sm-6" style="background-color:#f2f2f2; height: 250px; border: 1px solid black">
				<a href="/shop/<%= @categories[3].id %>/1">
					<img src="<%= @categories[3].image_url %>" />
					<p class="cat"> <%= @categories[3].name %> </p>
				</a>
			</div>
		</div>
	</div>
</center>